<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsed-nav">
      <ul class="nav navbar-nav">
        <li><a href="#">Family</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive center-block" src="http://placehold.it/350x350" alt="" />
    </div>
    <div class="col-md-7">
      <h1 class="text-center">Sakura Gardens Villa</h1>
      <p>Sakura Garden Villa is a senior assisted living home located in
        Campbell, Ca. We offer a spacious 12 room facility with an option of a
        private or shared room. Roam around the outdoor sun area and clean clean
        and inviting accommodations indoors. We provide 24-hour personal care
        and supervision for both ambulatory and non-ambulatory seniors under a
        safe, comfortable, and friendly environment.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Our Services</h1>
    </div>
  </div>
</div>
