<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand wht-txt" href="#">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsed-nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="wht-txt" href="#services">Services</a></li>
        <li><a class="wht-txt" href="#amenities">Amenities</a></li>
        <li><a class="wht-txt" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="container home">
  <section class="row">
    <div class="col-md-5">
      <!-- <img class="img-responsive center-block" src="http://placehold.it/350x350" alt="" /> -->
      <%= image_tag("patio.png", :class=> "img-responsive center-block") %>
    </div>
    <div class="col-md-7">
      <h1 class="text-center">Sakura Gardens Villa</h1>
      <p>Sakura Garden Villa is a senior assisted living home located in
        Campbell, Ca. We offer a spacious 12 room facility with an option of a
        private or shared room. Roam around the outdoor sun area and clean clean
        and inviting accommodations indoors. We provide 24-hour personal care
        and supervision for both ambulatory and non-ambulatory seniors under a
        safe, comfortable, and friendly environment.
      </p>
    </div>
  </section>

  <hr id="services">

  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Our Services</h1>
    </div>
    <div class="col-md-12">
      <p>We are here to assist residents and their families and provide the best
         care possible. We provide personalized attention to each resident's
         specific desires and needs. Throughtout the day, our care team closely
         monitors your loved one's general health and well-being. If any
         significant changes occur, we will immediately communicate with family
         and physicians.
       </p>
    </div>
    <div class="col-md-6">
      <ul>
        <li>24-hour assistance</li>
        <li>Medication supervision</li>
        <li>3 Homemade meals and snacks
          <ul>
            <li>accommodating special diets per request</li>
          </ul>
        </li>
        <li>Assistance with personal care
          <ul>
            <li>eg., bathing. dressing, eating and other personal needs</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Dementia and Alzheimer's care</li>
        <li>Activities
          <ul>
            <li>e.g., indoor games, exercises, music, crafts, etc</li>
          </ul>
        </li>
        <li>Daily laundry and housekeeping</li>
        <li>Hand-delivered mail</li>
      </ul>
    </div>
  </section>

  <hr id="amenities">

  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Amenities</h1>
    </div>
    <div class="col-md-3">
      <img class="img-responsive center-block img-circle" src="http://placehold.it/150x150" alt="" />
      <p class="text-center">In room cable TV &amp; WiFi</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive center-block img-circle" src="http://placehold.it/150x150" alt="" />
      <p class="text-center">In room emergency alert system</p>
    </div>
    <div class="col-md-3">
      <img class="img-responsive center-block img-circle" src="http://placehold.it/150x150" alt="" />
      <p class="text-center">Basic furniture</p>
      <!-- <p class="text-center">e.g., bed, drawers, chair, table, lamp</p> -->
    </div>
    <div class="col-md-3">
      <img class="img-responsive center-block img-circle" src="http://placehold.it/150x150" alt="" />
      <p class="text-center">Outdoor patio area</p>
    </div>
  </section>

  <hr id="contact">

  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Contact</h1>
      <p>
        Hiro is a former geriatric nurse and has 15 years’ experience in the
        Health care field in Japan. After leaving Japan, he came to US in search
        of work with seniors. He is passionate about caring for people which, he
        has shown throughout his entire career. In addition to Sakura Garden
        Villa, he has been operating the facilities in Pinole and San Mateo for
        over 10 years. He brings a wealth of experience and knowledge to Sakura
        Garden Villa. His leadership and compassion toward providing quality care
        in a senior living setting inspires his staff as well as people in
        community.
      </p>
    </div>
    <div class="col-md-4">
      <p>531 N. Central Ave.<br>
        Campbell, Ca 95008
      </p>
    </div>
    <div class="col-md-4">
      <p>PH: 408-379-4110</p>
      <p>Fax: 408-379-4109</p>
    </div>
    <div class="col-md-4">
      <p>Email: xxxxxxxxx</p>
      <p>Lic: 435202531</p>
    </div>
  </section>

</section>

<!-- <div id="page-wrap">

  <h1 id="top">Smooth Page Scrolling</h1>

  <ul>
    <li><a href="#two">Scroll to Section Two</a></li>
    <li><a href="#three">Scroll to Section Three</a></li>
  </ul>

  <h2 id="one">Section One</h2>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <h2 id="two">Section Two</h2>

  <p><a href="#top">Top</a></p>

  <p>quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
    tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <h2 id="three">Section Three</h2>

  <p><a href="#top">Top</a></p>

  <p>quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
    tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

  <p>quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
    sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus,
    tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
    Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
    lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
    facilisis luctus, metus</p>

</div> -->
